.document{
	height:530px;
	width:800px;
	background-color:#E4E4FE;
	padding:10px 10px 10px 10px;
}
.top{
	height:200px;
	width:800px;
	float:left;
}
.middle{
	margin-top:10px;
	height:270px;
	width:800px;
	float:left;
}
.bottom{
	margin-top:10px;
	height:25px;
	width:790px;
	float:left;
	background-color:#8DB5DB;
	padding:5px 5px 5px 5px;
}
.opinion{
	border:5px solid #ffffff;
	height:180px;
	width:377px;
	padding:5px 5px 5px 5px;
	background-color:#E4E4FE;
	float:left;
}

.path{
	border:5px solid #ffffff;
	height:180px;
	width:377px;
	padding:5px 5px 5px 5px;
	background-color:#E4E4FE;
	float:left;
	margin-left:6px;
}

.leftPersonnel{
	border:5px solid #ffffff;
	height:250px;
	width:377px;
	padding:5px 5px 5px 5px;
	background-color:#E4E4FE;
	float:left;
	display: none;
}

.rightPersonnel{
	border:5px solid #ffffff;
	height:250px;
	width:377px;
	padding:5px 5px 5px 5px;
	background-color:#E4E4FE;
	float:left;
	margin-left:6px;
	display: none;
}

.shadow{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	background:#C4C4C4;
	z-index:999;
	opacity: 0.5;
	display:none;
}

.box{
	left: 50%;
    top: 50%;
    background: #E4E4FE;
    width: 625px;
    height: 410px;
    margin: -200px 0px 0px -300px;
    position: absolute;
    z-index: 9999999;
    padding:10px 10px 10px 10px;
    display:none;
}

.leftProxy{
	border:5px solid #ffffff;
	height:355px;
	width:290px;
	padding:5px 5px 5px 5px;
	background-color:#E4E4FE;
	float:left;
	overflow:auto;
}

.rightProxy{
	margin-left:5px;
	border:5px solid #ffffff;
	height:355px;
	width:290px;
	padding:5px 5px 5px 5px;
	background-color:#E4E4FE;
	float:left;
}

.gridtable {
	font-family: verdana,arial,sans-serif;
 	font-size:11px;
	color:#333333;
	border-width: 1px;
 	border-color: #666666;
	border-collapse: collapse;
	width:290px;
}
.gridtable th {
 	border-width: 1px;
	padding: 8px;
 	border-style: solid;
 	border-color: #666666;
	background-color: #dedede;
}
.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	text-align:center;
 }
 